---
layout: default
---
<div class="post-wrapper">
  <article class="post">
    <div class="post-heading">
      <h1 class="post-title">{{ page.title }}</h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="faded">{% if page.type != 'pages' %}
        {{ page.date | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
    </div>
    {{ content }}
  </article>

  <br>

  <h3>Recent posts</h3>

  <div>
    {% for post in site.posts limit: 3 %}
    {% if post.url == page.url %}
    {% continue %}
    {% endif %}
    <div class="list-entry">
      <div><a class="internal-link" href="{{ post.url }}">{{ post.title }}</a> <span
          class="faded">({{ post.date | date: "%Y-%m-%d" }})</span></div>
      <div>{{ post.excerpt }}</div>
    </div>
    {% endfor %}
  </div>
